@media (max-width: 1024px) {
	.interface-button,
	.menu-button {
		font-size: 12px;
		height: 40px;
		box-sizing: border-box;
		padding: 8px 16px;
		display: flex;
		align-items: center;
		text-align: center;
		line-height: 12px;
	}
	.menu-switch {
		height: 40px;
	}
	.menu-window {
		top: 55px;
	}
	.list {
		flex-basis: 330px;
		flex-shrink: 0;
	}
	.info-item-title {
		font-size: 18px;
	}
	.info-item-text {
		font-size: 12px;
	}
	.drops-info {
		min-width: 180px;
		padding: 50px 20px 10px 12px;
		font-size: 12px;
	}
	.drops-info::before {
		font-size: 18px;
		top: 10px;
	}
	.result-wrap {
		border: 0;
	}
	.result-data-title {
		line-height: 18px;
	}
	.inventory {
		flex-shrink: 0;
	}
	.br-1024 {
		display: unset;
	}
}

@media (max-width: 768px) {
	.interface {
		flex-wrap: wrap;
	}
	.input-wrap {
		flex-basis: 100%;
	}
	.menu-window {
		top: 100px;
	}
	.tooltip {
		font-size: 24px;
		gap: 24px;
		text-align: center;
		line-height: 28px;
	}
	.list-wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.list {
		flex-basis: 220px;
	}
	.result-wrap {
		flex-direction: column;
		width: fit-content;
		padding: 60px 20px 20px;
		border: 1px solid #666;
		box-shadow: inset -4px -3px 3px 5px #272725, inset 3px 3px 3px 6px #3f3f3f;
		height: auto;
		position: relative;
	}
	.result-data {
		min-height: 200px;
		width: 100%;
	}
	.result-wrap::before {
		content: 'Result';
		position: absolute;
		top: 16px;
		left: 0;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		color: #e2e2e2;
		font-family: system-ui;
		font-size: 26px;
		font-weight: 500;
	}
}

@media (max-width: 550px) {
	.menu-wrap {
		width: 100%;
	}
	.menu-window {
		top: 150px;
	}
	.inventory-cell {
		width: 40px;
		height: 40px;
	}
	.inventory-item {
		font-size: 0;
	}
	.tooltip {
		font-size: 20px;
		gap: 20px;
		text-align: center;
		line-height: 22px;
	}
	.item-list {
		flex-direction: column;
		gap: 4px;
	}
	.result-list-item {
		width: 100%;
		height: auto;
		flex-direction: row;
		padding: 3px 70px 3px 12px;
		box-sizing: border-box;
		justify-content: space-between;
	}
	.result-item-name {
		font-size: 14px;
		line-height: 14px;
	}
	.list {
		flex-basis: 150px;
	}
	.list-item {
		width: 65px;
		height: 65px;
		font-size: 0;
		background-size: contain !important;
	}
	.js_item_label {
		display: none;
	}
	.drops-info {
		display: flex;
		flex-direction: column;
		padding: 50px 0 10px;
	}
	.drop-item {
		align-items: flex-end;
		line-height: 14px;
		padding: 2px 8px;
	}
	.drop-item:nth-child(2n+1) {
		background: #ffffff0f;
	}
}

@media (max-width: 450px) {
	.menu-window {
		height: 380px;
	}
	.list {
		max-height: 355px;
	}
	.info {
		flex-direction: column;
	}
	.drops-info {
		flex-basis: 50%;
		flex-grow: 1;
		width: auto;
	}
	.inventory-cell {
		width: 25px;
		height: 25px;
	}
	.item-list::after {
		display: none;
	}
}